# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Publish folder
publish/
[Pp]ublish/

# Screenshots
screenshot/
screenshots/

# Visual Studio cache/options
.vs/
.vscode/

# User-specific files
*.rsuser
*.suo
*.user
*.userosguicache
*.sln.docstates

# Build Results
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.iobj
*.pch
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Misc
.DS_Store
nul
*.bak
*.log
/tmp*.txt
/tmp*.cs
/$path.bak
/_last_debug_tail.txt
/build_output.txt
/publish_log.txt
/publish_output.txt
